body {
    background-color: #eff0f3;
}

.bg-nuevo {
    background-color: #ff8e3c;
}

.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form label {
    margin-top: 15px;
}

.lista-alumnos-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lista-alumnos {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#lista-alumnos-horario{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.alumno {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 70%;
    padding: 15px;
    background-color: #dbdbdd;
}

#nombreAlumno {
    font-weight: bold;
}

#clasesAlumno {
    font-weight: 500;
}

#btnEliminar {
    margin-left: auto;
}

#btnEliminar:hover {
    cursor: pointer;
}